# Ignore gradle cache
/.gradle

# Ignore local workspace propertices
/.idea/*

# Keep necessary xml configuration
!/.idea/misc.xml
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
!/.idea/artifacts/

# Ignore build path
/build
/out

