# Ignore gradle cache
/.gradle

# Ignore local workspace propertices
/.idea

# Keep necessary xml configuration
!/.idea/gradle.xml
!/.idea/misc.xml
!/.idea/workspace.xml
!/.idea/inspectionProfiles/

# Ignore build path
/build
/out

